.TodosWrapper {

}

.TodoItem{
    display: flex;
    width: 500px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(54, 175, 223);
    transition: all 0.5 ease;
}

.TodoItem.checked {
    background-color: darkgrey;
    opacity: 0.5;
    transition: all 0.5 ease;
}

.TodoItem.delition {
    animation: opacity 1s ease-in-out;
}

.Description {
    width: 80%;
    display: flex;
    align-items: center;
    color: floralwhite;
}

.Buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Buttons input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.Buttons button {
    outline: none;
    border: none;
    background-color: crimson;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.3s;
}

.Buttons button:hover {
    background-color: rgb(185, 14, 48);
}

.BtnComplete {

}

.BtnDelete {

}